.c-results-table__row {
  &__field {
    padding: .25rem 0;
    vertical-align: top;

    &:nth-child(4n+1) {
      padding-right: .5rem;
    }

    &:nth-child(4n+2) {
      padding-left: .5rem;
      padding-right: .5rem;
    }

    &:nth-child(4n+3) {
      padding-left: .5rem;
      padding-right: .5rem;
    }

    &:nth-child(4n+4) {
      padding-left: .5rem;
    }

    &--hidden {
      @extend %hidden;
    }
  }

  &__spotify {
    background: transparent url('../images/spotify-icon.png') no-repeat top left/cover;
    display: block;
    height: 25px;
    overflow: hidden;
    text-indent: -999em;
    width: 25px;
  }
}
