.l-main {
  box-sizing: border-box;
  margin: 0 auto;
  padding-left: map-get($breakpoints, 'padding-sm');
  padding-right: map-get($breakpoints, 'padding-sm');

  @media (min-width: map-get($breakpoints, 'sm-min')) {
    max-width: map-get($breakpoints, 'sm-min');
  }

  @media (min-width: map-get($breakpoints, 'md-min')) {
    max-width: map-get($breakpoints, 'md-min');
    padding-left: map-get($breakpoints, 'padding-md');
    padding-right: map-get($breakpoints, 'padding-md');
  }

  @media (min-width: map-get($breakpoints, 'lg-min')) {
    max-width: map-get($breakpoints, 'lg-min');
    padding-left: map-get($breakpoints, 'padding-lg');
    padding-right: map-get($breakpoints, 'padding-lg');
  }
}
