/**
 * @file
 * Variables and settings.
 */

// Typography.
$font-family-sans-serif: 'Inter', Helvetica, Arial, sans-serif !default;
$font-family-sans-serif-secondary: 'system-ui' !default;
$font-size-base: 1rem;

// Colors.
$colors: (
  'black': #000000,
  'blue100': #f1f8ff,
  'blue200': #e3efff,
  'blue300': #cbdfff,
  'blue400': #73abff,
  'blue500': #5393fe,
  'blue600': #4b84e5,
  'blue700': #3a67b2,
  'blue800': #2a4a7f,
  'blue900': #192c4c,
  'brand-secondary': #86b4ff,
  'green100': #f0f8ed,
  'green200': #e2f1da,
  'green500': #6cbb47,
  'green600': #61a840,
  'grey100': #f9f9fa,
  'grey200': #f2f2f2,
  'grey300': #e9eaea,
  'grey400': #d4d4d5,
  'grey500': #bebfc0,
  'grey600': #a9aaab,
  'grey700': #7d7f81,
  'grey800': #3d3f42,
  'grey900': #111010,
  'orange100': #fef0ec,
  'orange200': #fde1d9,
  'orange500': #f46b3f,
  'orange600': #dc6039,
  'pink100': #fff4ff,
  'pink200': #fffeff,
  'pink300': #ffc8ff,
  'pink400': #ffa7ff,
  'pink500': #ff91ff,
  'pink600': #e683e6,
  'pink700': #cc74cc,
  'pink800': #b366b3,
  'pink900': #804980,
  'purple100': #f8f2ff,
  'purple200': #f0e5ff,
  'purple300': #d3b0ff,
  'purple400': #c495ff,
  'purple500': #b57bff,
  'purple600': #a36fe6,
  'purple700': #7f56b3,
  'purple800': #5b3e80,
  'purple900': #36254c,
  'teal100': #e8f7f7,
  'teal200': #d1efef,
  'teal500': #17b1b1,
  'teal600': #159f9f,
  'white': #ffffff,
);

// Breakpoints.
$breakpoints: (
  lg-min: 1100px,
  md-min: 768px,
  sm-min: 600px,
  padding-lg: 4em,
  padding-md: 2.5em,
  padding-sm: 2em,
);

// Font sizes.
$font-size-body: 16px;
$font-size-base: 1rem;

$font-size-h1-xl: 2.8rem;
$font-size-h1-lg: 2.25rem;
$font-size-h1: 2rem;
$font-size-h2: 1.9rem;
$font-size-brand: 1.875rem;
$font-size-h3: 1.5rem;
$font-size-h4: $font-size-base;
$font-size-h5: .95rem;
$font-size-h6: .9rem;
